/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * Dongle shield for Totem – no key matrix, just a receiver.
 */

 / {
     chosen {
         zmk,kscan = &kscan0;
     };
 };

 &kscan0 {
     compatible = "zmk,kscan-none";
 };
