/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
 * Totem dongle shield – no key matrix, just a receiver.
 */

 / {
    kscan0: kscan0 {
        compatible = "zmk,kscan-none";
        label = "KSCAN_DONGLE";

        // Dummy matrix so ZMK’s macros compile
        rows = <0>;
        columns = <0>;
    };

    chosen {
        zmk,kscan = &kscan0;
    };
};