/* Minimal 1x1 keymap for the Totem dongle using a basic keypress */
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/behaviors.h>


/ {
    keymap {
        compatible = "zmk,keymap";
        layout {
            bindings = <
                &kp C_NUMLOCK
            >;
        };
    };
};