/* Minimal 1x1 keymap for the Totem dongle using a basic keypress */

#include <behaviors.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/behaviors.h>


/ {
    keymap {
        compatible = "zmk,keymap";
        layout {
            bindings = <&trans>; 
        };
        
        // Define the behavior node inline if includes fail
        trans: behavior_transparent {
            compatible = "zmk,behavior-transparent";
            label = "TRANSPARENT_BEHAVIOR";
            #binding-cells = <0>;
        };
    };
};